@using DataAccessBlazor;
@using DataAccessBlazor.Services;
@using DataAccessBlazor.Pages;

@code {
    [Parameter]
    public List<PizzaSpecial> Specials { get; set; }

    [Parameter]
    public OrderState OrderState { get; set; }

    [Parameter]
    public PizzaSalesState SalesState { get; set; }

    private void IncrementSales()
    {
        SalesState.PizzasSoldToday++;
    }
}

<ul class="pizza-cards">
    @if (Specials != null)
    {
        @foreach (var special in Specials)
        {
            <li @onclick="@(() => OrderState.ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                <div class="pizza-info" @onclick="IncrementSales">
                    <span class="title">@special.Name</span>
                    @SalesState.PizzasSoldToday
                    <span class="price">@special.GetFormattedBasePrice()</span>
                </div>
            </li>
            @if (OrderState.ShowingConfigureDialog)
            {
                <ConfigurePizzaDialog Pizza="OrderState.ConfiguringPizza"
                                      OnCancel="OrderState.CancelConfigurePizzaDialog"
                                      OnConfirm="OrderState.ConfirmConfigurePizzaDialog" />
            }
        }
    }
</ul>
